header.header
    .mainHead.container-xl.py-2
        .row.justify-content-between.align-items-center
            .mainHead-language.col-md-5.d-none.d-md-block
                span $HKD
            h1.mb-0.col-md-2.text-center.d-none.d-md-block
                a(href="/")
                    img.mainHead-brand(src="https://cdn.shopify.com/s/files/1/0491/4449/6277/files/BREEZY_identity_logo_700x162_bd6e58b9-71e4-4f6e-b0f5-d1345d112c02_770x162.png?v=1603246666",alt="Is it any good? Where can I get it? Whether you're shopping for him, for her, or even for children, we just want to make the experience BREEZY and more enjoyable. When it’s been tried and tested by Sarah and Jason, you can be rest assured that the products are of the highest quality.")
            .mainHead-tools.col-md-5
                .mainHead-tools-item
                    button.btn.btn-menu.d-md-none(type="button",aria-label="Open search")
                        svg.svg-icon.icon-menu(xmlns="http://www.w3.org/2000/svg" width="18" height="14" viewBox="0 0 18 14")
                            path(fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M17 1.5H0V0H17V1.5ZM17 7.5H0V6H17V7.5ZM0 13.5H17V12H0V13.5Z" transform="translate(0.5)")
                    button.btn(type="button",aria-label="Open search")
                        svg.svg-icon.icon-search(xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19")
                            path(fill-rule="evenodd" fill="currentColor" clip-rule="evenodd" d="M3.12958 3.12959C0.928303 5.33087 0.951992 8.964 3.23268 11.2447C5.51337 13.5254 9.14649 13.5491 11.3478 11.3478C13.549 9.14651 13.5254 5.51338 11.2447 3.23269C8.96398 0.951993 5.33086 0.928305 3.12958 3.12959ZM2.17202 12.3054C-0.671857 9.46147 -0.740487 4.87834 2.06892 2.06893C4.87833 -0.740488 9.46145 -0.671858 12.3053 2.17203C15.1492 5.01591 15.2178 9.59904 12.4084 12.4085C9.59902 15.2179 5.0159 15.1492 2.17202 12.3054ZM16.4655 17.589L12.5285 13.589L13.5976 12.5368L17.5346 16.5368L16.4655 17.589Z" transform="translate(0 0.5)")
                .mainHead-tools-item.mainHead-tools-item-logo.d-md-none
                    h1.text-center.mb-0
                        a(href="/")
                            img.mainHead-brand(src="https://cdn.shopify.com/s/files/1/0491/4449/6277/files/BREEZY_identity_logo_700x162_bd6e58b9-71e4-4f6e-b0f5-d1345d112c02_770x162.png?v=1603246666",alt="Is it any good? Where can I get it? Whether you're shopping for him, for her, or even for children, we just want to make the experience BREEZY and more enjoyable. When it’s been tried and tested by Sarah and Jason, you can be rest assured that the products are of the highest quality.")
                .mainHead-tools-item.mainHead-tools-item-right
                    a.btn.d-md-none(href="#")
                        svg.svg-icon.icon-person(xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20")
                            path(fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M9.07453 1.5C6.89095 1.5 5.11767 3.27499 5.11767 5.46843C5.11766 7.66186 6.89094 9.43685 9.07452 9.43685C11.2581 9.43685 13.0314 7.66186 13.0314 5.46843C13.0314 3.27499 11.2581 1.5 9.07453 1.5ZM3.61767 5.46843C3.61767 2.45003 6.05906 0 9.07454 0C12.09 0 14.5314 2.45003 14.5314 5.46843C14.5314 8.48682 12.09 10.9369 9.07451 10.9369C6.05904 10.9369 3.61766 8.48682 3.61767 5.46843ZM2.35675 14.3874C3.88164 13.2638 6.15029 12.125 9.07457 12.125C11.9989 12.125 14.2675 13.2638 15.7924 14.3874C16.5551 14.9494 17.1376 15.5116 17.5314 15.9357C17.7286 16.1481 17.8794 16.3267 17.9826 16.4548C18.0342 16.5188 18.074 16.5703 18.1019 16.6071C18.1158 16.6255 18.1268 16.6402 18.1347 16.651L18.1444 16.6642L18.1475 16.6686L18.1487 16.6702C18.1487 16.6702 18.1495 16.6714 17.5392 17.1073C16.9289 17.5433 16.9293 17.5437 16.9293 17.5437L16.9261 17.5394L16.906 17.5125C16.8869 17.4873 16.8565 17.4479 16.8148 17.3962C16.7314 17.2927 16.6035 17.1408 16.4323 16.9564C16.0892 16.5869 15.5758 16.091 14.9026 15.595C13.5555 14.6024 11.5919 13.625 9.07457 13.625C6.55729 13.625 4.59361 14.6024 3.24655 15.595C2.57331 16.091 2.05994 16.5869 1.71689 16.9564C1.54565 17.1408 1.41771 17.2927 1.33434 17.3962C1.29268 17.4479 1.26222 17.4873 1.24313 17.5125L1.22306 17.5394L1.21988 17.5437C1.21988 17.5437 1.22021 17.5433 0.60991 17.1073C-0.000390232 16.6714 7.48403e-06 16.6708 7.48403e-06 16.6708L0.00162408 16.6686L0.00476668 16.6642L0.0144317 16.651C0.0223748 16.6402 0.0333185 16.6255 0.0472455 16.6071C0.0750945 16.5703 0.114903 16.5188 0.166533 16.4548C0.269743 16.3267 0.420496 16.1481 0.617698 15.9357C1.01152 15.5116 1.59403 14.9494 2.35675 14.3874Z" transform="translate(1.3999 1)")
                    span.d-none.d-md-inline-block |
                    a.btn.d-none.d-md-inline-block.account-options
                        span Log In
                    span.d-none.d-md-inline-block |
                    a.btn.d-none.d-md-inline-block.account-options
                        span Sign Up
                    span.d-none.d-md-inline-block |
                    a.btn(href="#")
                        svg.svg-icon.icon-wishList(xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32")
                            path(d="M 9.5 5 C 5.363281 5 2 8.402344 2 12.5 C 2 13.929688 2.648438 15.167969 3.25 16.0625 C 3.851563 16.957031 4.46875 17.53125 4.46875 17.53125 L 15.28125 28.375 L 16 29.09375 L 16.71875 28.375 L 27.53125 17.53125 C 27.53125 17.53125 30 15.355469 30 12.5 C 30 8.402344 26.636719 5 22.5 5 C 19.066406 5 16.855469 7.066406 16 7.9375 C 15.144531 7.066406 12.933594 5 9.5 5 Z M 9.5 7 C 12.488281 7 15.25 9.90625 15.25 9.90625 L 16 10.75 L 16.75 9.90625 C 16.75 9.90625 19.511719 7 22.5 7 C 25.542969 7 28 9.496094 28 12.5 C 28 14.042969 26.125 16.125 26.125 16.125 L 16 26.25 L 5.875 16.125 C 5.875 16.125 5.390625 15.660156 4.90625 14.9375 C 4.421875 14.214844 4 13.273438 4 12.5 C 4 9.496094 6.457031 7 9.5 7 Z")
                    span.d-none.d-md-inline-block |
                    a.btn(href="#")
                        svg.svg-icon.icon-bag(xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20")
                            path(fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M1.09053 5.00869H17.9096L18.9818 15.445C19.1672 17.0769 17.9119 18.51 16.2913 18.51L2.7087 18.51C1.08808 18.51 -0.167246 17.0769 0.0181994 15.445L1.09053 5.00869ZM2.40808 6.50869L1.48668 15.6168C1.40224 16.3599 1.97334 17.01 2.7087 17.01L16.2913 17.01C17.0267 17.01 17.5977 16.3599 17.5133 15.6168L16.592 6.50869H2.40808Z" transform="translate(1)")
                            path(fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M7.3466 0.622759C7.90387 0.233871 8.61575 0 9.49996 0C10.3842 0 11.0961 0.233871 11.6533 0.622759C12.2048 1.00762 12.5612 1.51352 12.7903 1.99321C13.0183 2.47048 13.1286 2.93833 13.183 3.2803C13.2105 3.45311 13.2246 3.59868 13.2317 3.70389C13.2353 3.75662 13.2372 3.79958 13.2382 3.83116C13.2387 3.84696 13.239 3.85994 13.2392 3.86992L13.2393 3.8826L13.2394 3.88722L13.2394 3.88908C13.2394 3.88908 13.2394 3.89065 12.5002 3.89065C11.7612 3.90271 11.7611 3.89133 11.7611 3.89133L11.7611 3.89294L11.7608 3.8796C11.7603 3.86517 11.7593 3.84065 11.757 3.80751C11.7525 3.74096 11.7431 3.64118 11.7237 3.51955C11.6844 3.27264 11.6072 2.95533 11.4601 2.64744C11.3142 2.34196 11.108 2.06271 10.8157 1.85869C10.5291 1.65871 10.1159 1.5 9.49996 1.5C8.88403 1.5 8.47081 1.65871 8.18424 1.85869C7.8919 2.06271 7.68573 2.34196 7.53981 2.64744C7.39275 2.95533 7.31551 3.27264 7.2762 3.51955C7.25684 3.64118 7.24742 3.74096 7.24288 3.80751C7.24062 3.84065 7.23959 3.86517 7.23913 3.8796L7.23879 3.89337L7.23878 3.89193C7.23878 3.89193 7.23878 3.89065 6.49968 3.89065C5.76057 3.89065 5.76057 3.8899 5.76057 3.8899L5.76058 3.88722L5.7606 3.8826L5.76075 3.86992C5.7609 3.85994 5.76118 3.84696 5.76169 3.83116C5.76269 3.79958 5.7646 3.75662 5.76819 3.70389C5.77537 3.59868 5.7894 3.45311 5.81691 3.2803C5.87136 2.93833 5.98164 2.47048 6.20961 1.99321C6.43873 1.51352 6.79512 1.00762 7.3466 0.622759Z" transform="translate(1)")
    nav.mainNav
        ul.navbar.nav.container
            li.nav-item
                a.nav-item-link(href="/") Beauty
                ul.dropdown-menu
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Blackmores
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Bodyscents
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Dermacept
                    li.dropdown-item
                        a.dropdown-item-link(href="/") DU'IT
                    li.dropdown-item
                        a.dropdown-item-link(href="/") EMK Beverly Hills
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Hada Labo
                    li.dropdown-item
                        a.dropdown-item-link(href="/") QV
                    li.dropdown-item
                        a.dropdown-item-link(href="/") QV Baby
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Sukin
                    li.dropdown-item
                        a.dropdown-item-link(href="/") XOUL
            li.nav-item
                a.nav-item-link(href="/") Health
                ul.dropdown-menu
                    li.dropdown-item
                        a.dropdown-item-link(href="/") 236:)
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Blackmores
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Blackmores
                    li.dropdown-item
                        a.dropdown-item-link(href="/") CareMax
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Darlie
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Tahi
            li.nav-item
                a.nav-item-link(href="/") Fashion
                ul.dropdown-menu
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Maserati Eyewear
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Momodesign Eyewear
                    li.dropdown-item
                        a.dropdown-item-link(href="/") thecoopidea
            li.nav-item
                a.nav-item-link(href="/") Home
                ul.dropdown-menu
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Airtec
                    li.dropdown-item
                        a.dropdown-item-link(href="/") De'Longhi
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Laundrin
                    li.dropdown-item
                        a.dropdown-item-link(href="/") thecoopidea
                    li.dropdown-item
                        a.dropdown-item-link(href="/") thecoopidea
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Vitasoy
            li.nav-item
                a.nav-item-link(href="/") Mum & Baby
                ul.dropdown-menu
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Blackmores
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Boost & Guard
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Haakaa
                    li.dropdown-item
                        a.dropdown-item-link(href="/") QV Baby
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Suzuran
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Tahi
                    li.dropdown-item
                        a.dropdown-item-link(href="/") YOUHA
            li.nav-item
                a.nav-item-link(href="/") Kids
                ul.dropdown-menu
                    li.dropdown-item
                        a.dropdown-item-link(href="/") BRIO
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Campbell Books
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Heath McKenzie
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Pi Kids
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Priddy Books
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Ravensburger
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Sfi Readerlink Dist
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Usborne
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Yoyo Books
            li.nav-item
                a.nav-item-link(href="/") Food & Wine
                ul.dropdown-menu
                    li.dropdown-item
                        a.dropdown-item-link(href="/") 137 Degrees Nut Milk
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Domaines Paul Mas
                    li.dropdown-item
                        a.dropdown-item-link(href="/") HINE
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Thomas Barton
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Undurraga
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Vinakoper
                    li.dropdown-item
                        a.dropdown-item-link(href="/") Vitasoy
    nav.subNav.text-uppercase
        ul.navbar.nav.container
            li.nav-item
                a.nav-item-link(href="/") Sarah
            li.nav-item
                a.nav-item-link(href="/") Jason
            li.nav-item
                a.nav-item-link(href="/") Damon & Jamie
    section.sideNav
        .sideNav-content
            .sideNav-content-tools.py-3
                .btn.close
                    svg.svg-icon(xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14")
                        path(fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M5.9394 6.53033L0.469727 1.06066L1.53039 0L7.00006 5.46967L12.4697 0L13.5304 1.06066L8.06072 6.53033L13.5304 12L12.4697 13.0607L7.00006 7.59099L1.53039 13.0607L0.469727 12L5.9394 6.53033Z")
            ul.list.sideNav-content-list
                li.list-item
                    span.list-item-link $HKD
                li.list-item.dropdown
                    a.list-item-link(href="/") Beauty
                    span.list-icon
                        span.plus
                            svg.svg-icon.icon-plus(xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13")
                                path(fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M5.69225 5.69225V0H7.07107V5.69225H12.7633L12.7633 7.07107L7.07107 7.07107L7.07107 12.7633H5.69225L5.69225 7.07107L5.91697e-07 7.07107L0 5.69225H5.69225Z")
                        span.minus
                            svg.svg-icon.icon-minus(xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13")
                                path(fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M12.7633 0L12.7633 1.37882H0V0H12.7633Z" transform="translate(0 5.69238)")
                    ul.list.secondary
                        li.list-item
                            a.list-item-link(href="/") Blackmores
                        li.list-item
                            a.list-item-link(href="/") Bodyscents
                        li.list-item
                            a.list-item-link(href="/") Dermacept
                        li.list-item
                            a.list-item-link(href="/") DU'IT
                        li.list-item
                            a.list-item-link(href="/") EMK Beverly Hills
                        li.list-item
                            a.list-item-link(href="/") Labo
                        li.list-item
                            a.list-item-link(href="/") QV
                        li.list-item
                            a.list-item-link(href="/") QV Baby
                        li.list-item
                            a.list-item-link(href="/") Sukin
                        li.list-item
                            a.list-item-link(href="/") XOUL
                li.list-item.dropdown
                    a.list-item-link(href="/") Health
                    span.list-icon
                        span.plus
                            svg.svg-icon.icon-plus(xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13")
                                path(fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M5.69225 5.69225V0H7.07107V5.69225H12.7633L12.7633 7.07107L7.07107 7.07107L7.07107 12.7633H5.69225L5.69225 7.07107L5.91697e-07 7.07107L0 5.69225H5.69225Z")
                        span.minus
                            svg.svg-icon.icon-minus(xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13")
                                path(fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M12.7633 0L12.7633 1.37882H0V0H12.7633Z" transform="translate(0 5.69238)")
                    ul.list.secondary
                        li.list-item
                            a.list-item-link(href="/") 236:)
                        li.list-item
                            a.list-item-link(href="/") Blackmores
                        li.list-item
                            a.list-item-link(href="/") Boost &amp; Guard
                        li.list-item
                            a.list-item-link(href="/") CareMax
                        li.list-item
                            a.list-item-link(href="/") Darlie
                        li.list-item
                            a.list-item-link(href="/") Tahi
                li.list-item.dropdown
                    a.list-item-link(href="/") Fashion
                    span.list-icon
                        span.plus
                            svg.svg-icon.icon-plus(xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13")
                                path(fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M5.69225 5.69225V0H7.07107V5.69225H12.7633L12.7633 7.07107L7.07107 7.07107L7.07107 12.7633H5.69225L5.69225 7.07107L5.91697e-07 7.07107L0 5.69225H5.69225Z")
                        span.minus
                            svg.svg-icon.icon-minus(xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13")
                                path(fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M12.7633 0L12.7633 1.37882H0V0H12.7633Z" transform="translate(0 5.69238)")
                    ul.list.secondary
                        li.list-item
                            a.list-item-link(href="/") Maserati Eyewear
                        li.list-item
                            a.list-item-link(href="/") Momodesign Eyewear
                        li.list-item
                            a.list-item-link(href="/") thecoopidea
                li.list-item.dropdown
                    a.list-item-link(href="/") Home
                    span.list-icon
                        span.plus
                            svg.svg-icon.icon-plus(xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13")
                                path(fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M5.69225 5.69225V0H7.07107V5.69225H12.7633L12.7633 7.07107L7.07107 7.07107L7.07107 12.7633H5.69225L5.69225 7.07107L5.91697e-07 7.07107L0 5.69225H5.69225Z")
                        span.minus
                            svg.svg-icon.icon-minus(xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13")
                                path(fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M12.7633 0L12.7633 1.37882H0V0H12.7633Z" transform="translate(0 5.69238)")
                    ul.list.secondary
                        li.list-item
                            a.list-item-link(href="/") Airtec
                        li.list-item
                            a.list-item-link(href="/") De'Longhi
                        li.list-item
                            a.list-item-link(href="/") Laundrin
                        li.list-item
                            a.list-item-link(href="/") thecoopidea
                        li.list-item
                            a.list-item-link(href="/") Vitasoy
                li.list-item.dropdown
                    a.list-item-link(href="/") Mum &amp; Baby
                    span.list-icon
                        span.plus
                            svg.svg-icon.icon-plus(xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13")
                                path(fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M5.69225 5.69225V0H7.07107V5.69225H12.7633L12.7633 7.07107L7.07107 7.07107L7.07107 12.7633H5.69225L5.69225 7.07107L5.91697e-07 7.07107L0 5.69225H5.69225Z")
                        span.minus
                            svg.svg-icon.icon-minus(xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13")
                                path(fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M12.7633 0L12.7633 1.37882H0V0H12.7633Z" transform="translate(0 5.69238)")
                    ul.list.secondary
                        li.list-item
                            a.list-item-link(href="/") Blackmores
                        li.list-item
                            a.list-item-link(href="/") Boost &amp; Guard
                        li.list-item
                            a.list-item-link(href="/") Haakaa
                        li.list-item
                            a.list-item-link(href="/") QV Baby
                        li.list-item
                            a.list-item-link(href="/") Suzuran
                        li.list-item
                            a.list-item-link(href="/") Tahi
                        li.list-item
                            a.list-item-link(href="/") YOUHA
                li.list-item.dropdown
                    a.list-item-link(href="/") Kids
                    span.list-icon
                        span.plus
                            svg.svg-icon.icon-plus(xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13")
                                path(fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M5.69225 5.69225V0H7.07107V5.69225H12.7633L12.7633 7.07107L7.07107 7.07107L7.07107 12.7633H5.69225L5.69225 7.07107L5.91697e-07 7.07107L0 5.69225H5.69225Z")
                        span.minus
                            svg.svg-icon.icon-minus(xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13")
                                path(fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M12.7633 0L12.7633 1.37882H0V0H12.7633Z" transform="translate(0 5.69238)")
                    ul.list.secondary
                        li.list-item
                            a.list-item-link(href="/") BRIO
                        li.list-item
                            a.list-item-link(href="/") Campbell Books
                        li.list-item
                            a.list-item-link(href="/") Heath McKenzie
                        li.list-item
                            a.list-item-link(href="/") Pi Kids
                        li.list-item
                            a.list-item-link(href="/") Priddy Books
                        li.list-item
                            a.list-item-link(href="/") Ravensburger
                        li.list-item
                            a.list-item-link(href="/") Sfi Readerlink Dist
                        li.list-item
                            a.list-item-link(href="/") Usborne
                        li.list-item
                            a.list-item-link(href="/") Yoyo Books
                li.list-item.dropdown
                    a.list-item-link(href="/") Food &amp; Wine
                    span.list-icon
                        span.plus
                            svg.svg-icon.icon-plus(xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13")
                                path(fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M5.69225 5.69225V0H7.07107V5.69225H12.7633L12.7633 7.07107L7.07107 7.07107L7.07107 12.7633H5.69225L5.69225 7.07107L5.91697e-07 7.07107L0 5.69225H5.69225Z")
                        span.minus
                            svg.svg-icon.icon-minus(xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13")
                                path(fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M12.7633 0L12.7633 1.37882H0V0H12.7633Z" transform="translate(0 5.69238)")
                    ul.list.secondary
                        li.list-item
                            a.list-item-link(href="/") 137 Degrees Nut Milk
                        li.list-item
                            a.list-item-link(href="/") Domaines Paul Mas
                        li.list-item
                            a.list-item-link(href="/") HINE
                        li.list-item
                            a.list-item-link(href="/") Thomas Barton
                        li.list-item
                            a.list-item-link(href="/") Undurraga
                        li.list-item
                            a.list-item-link(href="/") Vinakoper
                        li.list-item
                            a.list-item-link(href="/") Vitasoy
                li.list-item.dropdown
                    a.list-item-link(href="/") Sarah
                li.list-item.dropdown
                    a.list-item-link(href="/") Jason
                li.list-item.dropdown
                    a.list-item-link(href="/") Damon &amp; Jamie