.productsFilter {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.productsFilter-total {
    color: $gray-500;
    padding-top: $spacer;
    padding-bottom: $spacer;
    border-bottom: 1px solid $gray-400;
}

.productsFilterOption-item {
    padding-top: $spacer;
    padding-bottom: $spacer;
    border-bottom: 1px solid $gray-400;
}

.productsFilter-option-title {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after {
        content: '';
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top-color: transparent;
        border-bottom-color: $black;
    }
}